:root {
  --bg: #0b1220;
  --card: rgba(30,41,59,0.6);
  --text: #e2e8f0;
}

.light {
  --bg: #f1f5f9;
  --card: #ffffff;
  --text: #0f172a;
}

body {
  margin: 0;
  font-family: 'Segoe UI';
  background: var(--bg);
  color: var(--text);
  transition: 0.4s;
}

/* NAV */
nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
}

/* HERO */
.hero {
  text-align: center;
  padding: 40px;
}

/* CARDS */
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.card {
  padding: 20px;
  border-radius: 15px;
  background: var(--card);
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.1);
}

/* SIMULATOR */
.simulator {
  margin: 30px auto;
  width: 60%;
  text-align: center;
}

input, select {
  width: 80%;
  padding: 10px;
  margin: 10px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}

/* INFO PAGE */
.hidden {
  display: none;
}

#infoPage {
  padding: 40px;
  animation: fade 0.5s;
}

@keyframes fade {
  from {opacity:0;}
  to {opacity:1;}
}